In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
%run 1_cleaning_data.ipynb
data = data

In [4]:
# we have price each column if not we could feature engineered it by
#totatl sales / quantity ordered
#now calculating avg purchase value of each customer  by using their address
apv = data.groupby('Purchase Address')['Price Each'].mean()

In [8]:
#calculating the each customer order frequency
purchase_frequency = data.groupby('Purchase Address')['Order ID'].size()

In [16]:
#churn rate -percentage of  customers who stopped buying after some purchases
churn_rate = 1-(data['Purchase Address'].nunique()/data.shape[0])

In [17]:
churn_rate

0.24180067425654062

In [18]:
#finally calulating the CLV
CLV =  apv * purchase_frequency *(1/churn_rate)

In [19]:
CLV

Purchase Address
1 11th St, Atlanta, GA 30301                49.420871
1 11th St, Los Angeles, CA 90001          7030.584200
1 11th St, San Francisco, CA 94016        2894.946435
1 12th St, Los Angeles, CA 90001           620.345665
1 12th St, New York City, NY 10001          49.586297
                                             ...
999 Wilson St, Atlanta, GA 30301           413.522420
999 Wilson St, Los Angeles, CA 90001      4135.596408
999 Wilson St, New York City, NY 10001     620.345665
999 Wilson St, Portland, OR 97035           12.365557
999 Wilson St, San Francisco, CA 94016     620.345665
Length: 140787, dtype: float64